*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color:gainsboro;
}
.left{
    width: 400px;
    height: 100vh;
    margin: 100px;
    display: flex;
    flex-direction: column;
    
}
.left h1{
    color: blue;
    margin-top: 15px;
    margin-bottom: 10px;
}
.left p{
    font-size: 20px;
}
.bobby{
    width: 180px;
    height: 250px;
    cursor: pointer;
   
}
img{
    width: 180px;
    height: 200px;
    z-index: 0;
}
.bobby p{
   
    text-align: center;
    bottom: 0;
}
.hesap{
    width: 200px;
    height: 190px;

}
.photo{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
}

.right{
    width: 350px;
    height: 300px;
    border: 2px solid purple;
    margin: 150px;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
input{
    width: 330px;
    height: 40px;
    margin: 5px;
    margin-top: 15px;
    padding-left: 5px ;
}
.yeni{
    width: 200px;
    background-color: green;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}
.giris{
    background-color: blue;
    color: white;
}
hr{
    width: 340px;
}
button{
    width: 330px;
    height: 40px;
    margin-top: 15px;
}
#sifre{
    color: black;
    margin-top: 10px;
}

#icon{
    width: 25px;
    height: 25px;
    font-size: 22px;
    left: 5px;
    top: 5px;
    background-color: grey;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    
    z-index: 1;
}
#icon:hover{
    scale: 1.3x;
}